<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Подключаем веншний файл с параметрами. classpath - путь до приложения -->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="ru.kurochkin.springcourse.ClassicalMusic"> <!--путь к классу, bean которого создаем-->
    </bean>

    <!--Dependency Injection (DI)-->
    <bean id="musicPlayer"
          class="ru.kurochkin.springcourse.MusicPlayer">

        <!--нужен конструктор по умолчанию (пустой) в bean MusicPlayer -->
        <!--Spring распознает set и разбирает MusicPlayer.setMusic()->Music->music, получая name -->
        <!--Полю 'name' bean передается ссылка 'ref'  -->
        <property name="music"  ref="musicBean"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>